
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>发送短信</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="~/layuimini/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="~/layuimini/css/public.css" media="all">
    <style>
        .layui-form-item .layui-input-company {
            width: auto;
            padding-right: 10px;
            line-height: 38px;
        }
    </style>
</head>
<body>
    <div class="layuimini-container">
        <form  action="EditingSms" method="post">
            <div class="layuimini-main">
                <div class="layui-form layuimini-form">
                    <div class="layui-form-item" style="display:none">
                        <label class="layui-form-label required">sid</label>
                        <div class="layui-input-block">
                            <input type="text" name="id" value="@ViewBag.sid" lay-verify="required" class="layui-input" lay-reqtext="sid不能为空" placeholder="请输入sid">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label required">收信号码</label>
                        <div class="layui-input-block">
                            <input type="number" name="tel" value="@ViewBag.tel" lay-verify="required|number" class="layui-input" lay-reqtext="收信人号码不能为空" placeholder="请输入收信人号码">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label required">短信内容</label>
                        <div class="layui-input-block">
                            <textarea name="text" class="layui-textarea" lay-verify="required" lay-reqtext="短信内容不能为空" placeholder="请输入短信内容">@ViewBag.smstext</textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <input type="submit" class="layui-btn layui-btn-normal" value="确认修改" name="sub" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script src="~/layuimini/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
    <script src="~/layuimini/js/lay-config.js?v=1.0.4" charset="utf-8"></script>

    @Html.Raw(ViewBag.js)
</body>
</html>